<nav class="navbar navbar-light navbar-dark bg-success">
  <a class="navbar-brand"  href="#">ユーザー一覧</a>
</nav>

 
<div class="card-columns m-3">
  <% @users.each do |user| %>
    <div class="card" style="width: 100%;">
      <%= attachment_image_tag user, :profile_image, fallback: "no-image.png" %>
      <div class="card-body">
        <h5 class="card-title"><%= user.username %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  <% end %>
</div>  